<!-- For camera -->
<ngx-scanner-qrcode  #action="scanner" [config]="config" (event)="onEvent($event)" (error)="onError($event)"></ngx-scanner-qrcode>

<!-- data  -->
<p class="data">{{ action.data | async | json }}</p>

<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Ouverture...</p>

<!-- start -->
<button (click)="startScan(action)">{{action.isStart ? 'Stop' : 'Start'}}</button>

<button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, 'stop')">Stop</button>
